html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

/* font-family: 'Noto Sans', sans-serif; */

ul {
    list-style: none;
}

li {
    display: inline;
    justify-content: center;
}

.background-mission {
    background-image: url(../images/convertkit-xCmlTJmMyhQ-unsplash.jpg);
    width: 94rem;
    height: 125rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}

.container {
    display: flex;
}

/* trip links */

img {
    height: 200px;
    width: 300px;
  }

  .background-team {
      background-image: url(../images/sydney-rae-i0kQM6OdeVc-unsplash.jpg);
  }
